.login {
  //   background-color: 'white';
  height: 94vh;
  color: black;
  background-image: url('https://wallpaperaccess.com/full/4893670.jpg');

  h1 {
    text-align: center;
    margin: 0;
    padding-top: 10px;
    color: rgb(190, 190, 190);
  }
}
