.form {
  max-width: 1000px;
  margin: 100px auto;
  z-index: 10;
  padding: 70px 45px;
  min-height: 600px;
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  background-color: white;
  box-shadow: 1px 2px 4px lightgray;
  border-radius: 5px;

  nav {
    margin-bottom: 50px;
    .navLink {
      border: 1px solid lightgray;
      text-decoration: none;
      color: lightgray;
      font-size: 12px;
      padding: 20px 60px;
      border-radius: 50px;
    }

    .navLinkReg {
      border: 1px solid lightgray;
      text-decoration: none;
      color: lightgray;
      font-size: 12px;
      padding: 20px 60px;
      border-radius: 50px;
      margin-left: -45px;
    }

    .active {
      border-color: rgb(112, 83, 213);
      color: rgb(112, 83, 213);
      overflow: hidden;
      background-color: white;
      position: relative;
      z-index: 10;
    }
  }

  .inputContainer {
    width: 100%;

    input {
      display: block;
      width: 100%;
      padding: 10px 15px;
      font-size: 15px;
      border: none;
      border-bottom: 1px solid lightgray;
      // background-color: rgb(199, 199, 199);
      // border-radius: 50px;
      color: rgb(228, 228, 228);
      margin: 20px 0;
    }

    input:focus {
      border: none;
      border-bottom-color: lightgray;
      background-color: transparent;
    }

    .errorMsg {
      margin-top: 0;
      color: tomato;
      font-size: 12px;
    }

    .errorInput {
      border-bottom-color: tomato;
      // background-color: rgb(255, 132, 111);
    }

    .padding {
      padding: 9px 0px;
    }

    p {
      margin: 4px 0;
    }
  }
  button {
    width: 20%;
    padding: 10px 15px;
    background-color: rgb(112, 83, 213);
    color: white;
    border: none;
    border-radius: 25px;
    margin-top: auto;
    transition: all 0.3s ease-in-out;
  }

  .loginTitle {
    font-size: 12px;
    margin-bottom: 50px;
    color: black;
    font-weight: 600;
  }

  .message {
    margin: 40px 10px;
    box-shadow: 2px 6px 18px lightgray;
    padding: 10px 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    p {
      font-size: 12px;
    }
  }

  .clock {
    margin-left: 10px;
  }
}

.mgtop {
  margin-top: 100px;
}

.onSuccess {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: ;
  color: rgb(228, 228, 228);
  box-shadow: lightgray 2px 4px 10px;
  border: 2px solid lightgray;
  padding: 15px;
  width: 40%;
  margin: 30px auto;
  border-radius: 5px;
  margin-top: 50px;

  a {
    text-decoration: none;
    color: rgb(234, 27, 34);
  }
}
